.image-card {
    transition: transform 0.5s ease;
}

.image-card:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    transition: all 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.image-card:hover .overlay {
    opacity: 1;
    transition: opacity 0.5s ease;
}